language: node_js
sudo: required
node_js: "0.12"
before_script:
  - npm install -g gulp
script: gulp
deploy:
  provider: heroku
  api_key: "8aec1c2d-ce76-47aa-a4c9-2ee53e95b4c2"
  app: centerv2
  run:
    - "heroku ps:scale web=1"
