<div ng-controller="BottomHeaderController">
    <div id="layout_footer">
        <div id="footerLink">
            <a href="">关于此项目</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="">制作团队</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="">联系我们</a>
        </div>
        <div id="footerInfo">
            	<span>北京四中校友学生活动交流平台&nbsp;&nbsp;2012
                <br />
                北京市第四中学&nbsp;-&nbsp;北京市西城区西皇城根北街甲2号&nbsp;100034</span>
        </div>
        <div id="footerLogo"></div>
    </div>


</div>