<ng-include src="'modules/headers/partials/top.html'"></ng-include>

<!--&lt;!&ndash; load Galleria &ndash;&gt;-->
<!--<script src="plugins/galleria/galleria-1.2.7.min.js"></script>-->

<!--&lt;!&ndash; load the History plugin, no need for further scripting &ndash;&gt;-->
<!--<script src="plugins/galleria/plugins/history/galleria.history.min.js"></script>-->

<!--<script type="text/javascript" src="js/plugin.js"></script>-->
<script type="text/javascript">

//function CheckWord(textarea, span) {
//    if (document.getElementById(textarea).value.length >= 200) {
//        document.getElementById(span).innerHTML = 0;
//    } else {
//        document.getElementById(span).innerHTML = 200 - document.getElementById(textarea).value.length;
//    }
//}
//
//$(document).ready(function () {
//
//    $.ajax({
//        url: "BLL_AjaxSwitch.php",
//        type: "POST",
//        data: {action: "Project_Photo", proid: id},
//        success: function (returnJson) {
//            var ProjectPhoto = JSON.parse(returnJson);
//
//            if (ProjectPhoto.length > 0) {
//
//                // Load the classic theme
//                Galleria.loadTheme('plugins/galleria/themes/classic/galleria.classic.min.js');
//
//                // Initialize Galleria
//                Galleria.run('#galleria');
//
//                for (var i = 0; i < ProjectPhoto.length; i++) {
//                    $("#galleria").append("<a href=\"file/" + ProjectPhoto[i].FileUpload_FileName + "\">" +
//                            "<img alt=\"" + ProjectPhoto[i].FileUpload_FileIntro + "\" src=\"file/" + ProjectPhoto[i].FileUpload_FileName + "\">" +
//                            "</a>");
//                }
//
//            } else {
//                $("#galleria").css("height", "auto");
//                $("#ProjectView_Info_Photo").hide();
//            }
//        }
//    });
//
//    ShowCo();
//    $('#VeriCoRefr').click(function () {
//        ShowCo();
//    });
//    function ShowCo() {
//        num = ''; //define num as String
//        for (i = 0; i < 4; i++) {
//            tmp = Math.ceil((Math.random() * 15));//Math.random returns random value between 0 && 1; Math.ceil rounds the number upward to its nearest integer;
//            if (tmp > 9) {
//                switch (tmp) {
//                    case(10):
//                        num += 'A';
//                        break;
//                    case(11):
//                        num += 'B';
//                        break;
//                    case(12):
//                        num += 'C';
//                        break;
//                    case(13):
//                        num += 'D';
//                        break;
//                    case(14):
//                        num += 'E';
//                        break;
//                    case(15):
//                        num += 'F';
//                        break;
//                }
//            } else {
//                num += tmp;
//            }
//            $('#VeriCoHol').attr('src', 'VeriCoGen.php?num=' + num);
//        }
//    }
//})

</script>


<div id="ProView">
    <div class="Filter-sub">
        <ul class="path-sub">
            <li id="sub_index"><a href="Index.php">主页</a><span></span></li>
            <li id="sub_unfinish"><a href="ProjectInfo_List.php?status=0&type=0&order=0&page=1">浏览项目</a><span></span>
            </li>
            <li id="sub_title"><a href="#">查看项目</a><span></span></li>
        </ul>
        <div class="TitleHelper"></div>
    </div>
    <div id="GoAndProSys">
        <a id="GoDonate" href="#"><span id="GoDonateSpan"></span></a>
    </div>
    <div id="GoAndPhoto">
        <a id="ViewUpdateLink" href="#"><span id="ViewUpdate">查看更新</span></a>
    </div>
    <table class="floor">
        <tbody>
        <tr>
            <td class="floor-left" valign="top">
                <div class="SideBar">

                    <div class="UserName">
                        {{ projectData.Stu_Name_ }}
                    </div>
                    <div id="UserPhoto">
                    </div>
                    <div class="UserNumberDiv">
                        <span class="UserNumber">学籍号：</span>
                    </div>
                    <div class="Separate">
                        申请人简介
                    </div>
                    <div id="StudentIntro">
                        {{ projectData.Stu_Info_ }}
                    </div>
                    <div class="Separate">
                        联络信息
                    </div>
                    <div id="ContactInfo">
                        <ul>
                            <li id="ContactInfo_Email"><span class="ContactInfo_Info">邮箱：</span></li>
                            <li id="ContactInfo_Tel"><span class="ContactInfo_Info">家庭电话：</span></li>
                            <li id="ContactInfo_Cell"><span class="ContactInfo_Info">手机：</span></li>
                            <li id="ContactInfo_ParentTel"><span class="ContactInfo_Info">家长电话：</span></li>
                            <li id="ContactInfo_QQ"><span class="ContactInfo_Info">QQ：</span></li>
                        </ul>
                    </div>
                    <div class="Separate">
                        捐款信息
                    </div>
                    <div id="ViewDonateInfo">
                        <span id="ViewDonateInfo_Number"></span>
                        <span id="ViewDonateInfo_Date">截止日期：</span>
                    </div>
                    <div class="margin"></div>
                </div>
            </td>
            <td class="floor-right" valign="top">
                <div class="MainBar">
                    <div id="Title">
                        <h1 id="ProTitle">{{ projectData.Project_Title_ }}</h1>

                        <div class="ProToolBar">
                            <div id="ProToolBar_Class">{{ projectData.Project_Class_ }}
                            </div>
                            <div id="ProToolBar_ApplyDate">{{ projectData.createdAt }}
                            </div>
                            <div id="ProToolBar_Tool">
                                <span id="ProToolBar_FavorSpan"></span>

                                <div class="ProToolBar_LikeDiv">
                                    <img class="ProLikeImg" src="Images/ProLike.png">
                                    <span id="ProToolBar_LikeSpan"></span>
                                </div>
                            </div>
                        </div>
                        <div class="TitleHelper"></div>
                        <div class="TitleHelper"></div>
                    </div>

                    <span class="ProjectView_Info" id="ProjectView_Info_Photo"><img src="Images/decorate_left.png"
                                                                                    width="30px" height="10px">&nbsp;图片精选&nbsp;<img
                            src="Images/decorate_right.png" width="30px" height="10px"></span>

                    <div id="ProjectPhoto">
                        <div id="galleria">

                        </div>
                    </div>

                    <span class="ProjectView_Info"><img src="Images/decorate_left.png" width="30px" height="10px">&nbsp;详细信息&nbsp;<img
                            src="Images/decorate_right.png" width="30px" height="10px"></span>

                    <div id="ProjectView_Nav">
                        <ul>
                            <li><a href="#ProInfo">项目介绍</a></li>
                            <li><a href="#ProPlan">项目计划</a></li>
                            <li><a href="#ProGoal">项目目标</a></li>
                        </ul>
                    </div>

                    <div id="ProjectView_Content">
                        <div id="ProInfo" class="Passage">
                            {{ projectData.Project_Intro_ }}
                        </div>
                        <div id="ProPlan" class="Passage">
                            {{ projectData.Project_Plan_ }}
                        </div>
                        <div id="ProGoal" class="Passage">
                            {{ projectData.Project_Goal_ }}
                        </div>
                    </div>

                    <span class="ProjectView_Info"><img src="Images/decorate_left.png" width="30px" height="10px">&nbsp;申请金额明细&nbsp;<img
                            src="Images/decorate_right.png" width="30px" height="10px"></span>

                    <div id="ProBudget">
                        <table id="ProBudget_table">
                            <tr>
                                <th scope="col" class="Name">物品/活动名称</th>
                                <th scope="col" class="Price">单价</th>
                                <th scope="col" class="Amount">数量</th>
                                <th scope="col" class="Remark">备注</th>
                            </tr>
                            <tbody id="ProBudget_tbody">
                                <tr ng-repeat="item in projectData.Budgets_List_">
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.amount }}</td>
                                    <td>{{ item.remark }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="marginHelper">
                    </div>
                </div>

                <ng-include src="'modules/comment/partials/comment.html'"></ng-include>

            </td>
        </tr>
        </tbody>
    </table>
</div>

<ng-include src="'modules/headers/partials/bottom.html'"></ng-include>