<ng-include src="'modules/headers/partials/top.html'" xmlns="http://www.w3.org/1999/html"></ng-include>

<div id="ProList">
    <div id="MainList">
        <div class="Filter-sub" id="List_Filter-sub">
            <ul class="path-sub" id="List_path-sub">
                <li id="sub_index"><a href="Index.php">主页</a><span></span></li>
                <li id="sub_title"><a
                        href="ProjectInfo_List.php?keywords=&status=0&type=0&order=0&page=1">浏览项目</a><span></span></li>
            </ul>
        </div>

        <div id="SearchBoxArea">
            <form action="" method="GET" id="SearchSubmit">
                <input type="text" name="keywords" id="SearchBox"/>
                <button onclick="submitForm()" id="SearchSubmitButton"/>搜 索</button>
            </form>
        </div>
        <div id="ProjectList">
            <div ng-repeat="project in projects" ng-click="viewProject(project.objectId)">
                <table id="MainListTable{{ $index }}" class="MainListTable">
                    <tbody class="project">
                    <tr>
                        <td class="statefolder">
                            <img id="Plus{{ $index }}" class="Plus" src="Images/Plus.png" style="cursor: pointer;"/>
                        </td>
                        <th class="subject">
                            <div class="ListProjectPhoto" id="ListProjectPhoto{{ $index }}">
                            </div>
                            <div class="ListProjectInfo">
                        <span class="ListProjectTitle">
                            <span >{{ project.Project_Title_ }}</span>
                            <span class="TitleCaption">项目属性：{{ project.Project_Class_ }}&nbsp;&nbsp;&nbsp;项目类别：{{ project.Project_Type_ }}</span>
                            <span class="TitleCaption">申请人：{{ project.Stu_Name_  }}</span>
                        </span>
                            </div>
                        </th>
                        <td class="state">{{ project.Project_Status_ }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="List_PageNav">
                <button ng-click="movePage(-1)">上一页</button>
                <button ng-click="movePage(1)">下一页</button>
                <input type="text" ng-model="gotoPage"/>
                <button ng-click="goto()">Goto</button>
            </div>
        </div>
    </div>
    <div id="SideList">
        <div id="ViewSelectOption">
            <div class="ViewSelectOptionText">排序</div>
            <div class="ViewSelectBox" id="ViewSelectBoxOrder">
                <ul class="ViewSelectKeywords">
                    <li id="Order_0">最新</li>
                    <li id="Order_1">预算</li>
                    <li id="Order_2">人气</li>
                    <li id="Order_3">点击量</li>
                </ul>
            </div>
            <hr size="1" width="120px"/>
            <div class="ViewSelectOptionText">项目状态</div>
            <div class="ViewSelectBox" id="ViewSelectBoxStatus">
                <ul class="ViewSelectKeywords">
                    <li id="Status_0">全部</li>
                    <li id="Status_1">无捐款</li>
                    <li id="Status_2">已认捐</li>
                    <li id="Status_4">已完成</li>
                </ul>
            </div>
            <hr size="1" width="120px"/>
            <div class="ViewSelectOptionText">全部学科</div>
            <div class="ViewSelectBox" id="ViewSelectBoxType">
                <ul class="ViewSelectKeywords">
                    <li id="Type_0">全部学科</li>
                    <li id="Type_1">自然科学</li>
                    <li id="Type_2">人文社科</li>
                    <li id="Type_3">校园生活</li>
                    <li id="Type_4">文学历史</li>
                    <li id="Type_5">发明创造</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<ng-include src="'modules/headers/partials/bottom.html'"></ng-include>